<html>
<head>
<meta name="description" content="Testing some jsfiddle stuff from PencilsOfPromise">
<title>Mount Kilamanjaro School</title>
<link rel="stylesheet" type="text/css" href="static/css/panel.css">

</head>
	<body>
        <a href="groupHomePage.html">Fundraiser Page</a>
		<p class="header">5th Grade Soccer Moms</p>
		<p class="photos">Design School</p>
		<p class="videos">Contact PoP</p>
		<p class="stats">Plan</p>
		<p class="donate"></p>
		<img src="static/img/kid.jpg" alt="child" class="child">
		<img src="static/img/soccer.jpg" alt="house" class="house">
		<a href="schoolDesigner.html"><img src="static/img/school.jpg" alt="town" class="town"></a>
		<img src="static/img/white.jpg" alt="flower" class="white"> 
		<img src="static/img/gray.jpg" alt="flower" class="gray"> 
		<img src="static/img/orange.jpg" alt="flower" class="turqoise"> 
		<img src="static/img/purple.jpg" alt="purple" class="purple">
	</body>
</html>