<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
<meta name="description" content="Donate to Pencils of Promise and help me build a school for children!">
<title>Mount Kilamanjaro School</title>
<link rel="stylesheet" type="text/css" href="static/css/panel.css">

</head>
	<body>
        <a href="groupHomePage.html">Fundraiser Page</a><br>
        <a href="resetCode.html">Reset Group Code</a><br>
        <a href="logout.html">Log Out</a>
        
		<p class="header">5th Grade Soccer Moms</p>
		<p class="photos">Design School</p>
		<a href="http://www.pencilsofpromise.org/contact-us"><p class="videos">Contact PoP</p></a>
		<p class="stats">About</p>
		<p class="donate"></p>
		<img src="static/img/kid.jpg" alt="child" class="child">
		<img src="static/img/soccer.jpg" alt="house" class="house">
		<a href="schoolDesigner.html"><img src="static/img/school.jpg" alt="town" class="town"></a>
		<img src="static/img/white.jpg" alt="flower" class="white"> 
		<img src="static/img/gray.jpg" alt="flower" class="gray"> 
		<a href="http://www.pencilsofpromise.org/contact-us"><img src="static/img/orange.jpg" alt="flower" class="turqoise"></a> 
		<a href="editAbout.html"><img src="static/img/purple.jpg" alt="purple" class="purple"></a>

		<div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=145797328914787";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <fb:share-button type="box_count"></fb:share-button>

        <a href="http://twitter.com/share" 
   data-url="http://ec2-54-234-129-31.compute-1.amazonaws.com:8000/groupHomePage.html" 
   class="twitter-share-button" 
   data-text="I just donated to @PencilsOfPromis! Join me in helping build a school." 
   data-count="horizontal">
Tweet
</a>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

	</body>
</html>