{% load dajaxice_templatetags %}
{% dajaxice_js_import 'nocsrf'%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/coin-slider.js"></script>

	<link rel="stylesheet" href="static/css/coin-slider-styles.css" type="text/css" />


	<title>The School Gallery and Videos</title>
</head>
<body> 

		<div id="slider">
<a href="static/img/child.jpg" target="_blank">
		<img src='static/img/child.jpg' >
		<span>
			Description for child
		</span>
	</a>
	<a href="static/img/house2.jpg">
		<img src='static/img/house2.jpg' >
		<span>
			Description for house2
		</span>
	</a>

		</div>
		<script>
			$('#slider').coinslider({width: 400, hoverPause: true});
		</script>

</body>
</html>
